<%- include('header'); %>
<script type="text/javascript">
    let num = 20.49;
    function id( el ){
            return document.getElementById( el );

    }
    window.onload = function(){
            id('mais').onclick = function(){
                    id('format').value = parseFloat( id('format').value )+1;
                    
                    id('total').value = num*id('format').value;
            }
            id('menos').onclick = function(){
                    if( id('format').value>0 )
                            id('format').value = parseFloat( id('format').value )-1;
                    
                    id('total').value = num*id('format').value;
            }
    }       
</script>

<section class="carrinhoPasso1-section">
    <div class="container-Passo1">
         <div class="box1P1"> <!--Passo 1 - Coluna Esquerda "Borda" -->
            <div class="box2P1"><!--Passo 1 - Coluna Esquerda "Endereço de Entrega" -->
                <h1 class="h1-1">MEU CARRINHO</h1>
            </div>
            <% orders.forEach(order => { %>
            <div class="box3P1"><!--Passo 1 - Coluna Esquerda "Caixa Branca" -->
                <nav class="product">
                    <br><br>

                            
                    <div class="products">
                        
                        <div><img src="<%=order.url_img%>" width="80" ></div>
                        <div><b><%= order.titulo %></b><br><i><%= order.nome_autor %></i></div>
                        <div>R$<%= order.preco.replace('.', ',') %></div>
                        <div>
                            <div>
                                <input type="button" name="menos" id="menos" value="-" />
                                <input type="text" name="format" value="0" id="format" size="1">
                                <input type="button" name="mais" id="mais" value="+" />
                            </div>
                        </div>
                        
                            <div>
                                <form action="/removeCart/<%= order.id %>?_method=DELETE" method="post">
                                    <button type="submit" class="btn-passo1-cont-1">Remover</button>
                                </form>
                            </div>
                        
                        
                    </div>
                    
            
                </nav>
            </div><% }); %>
            <div class="box3P1-x">
                <b>TOTAL A PAGAR: </b>
            </div>
            
                <div class="box3P1-z">
                    <a href="/"><button type="submit" class="button-continuarcomprandoP1">CONTINUAR COMPRANDO</button></a>
                    <a href="/carrinhoPasso2/"><button type="submit" class="button-continuarcomprandoP2">CONTINUAR</button></a>
                </div>
            
            <!-- <button type="submit" class="button-adicionarP1">+Adicionar um novo endereço</button> -->
            
        </div>
        
    </div>
    <!-- <div class="box1P1-1">
            
        <div class="box1P1-5">
            <div class="box1P1-5-1">
                <p class="h1-P1-5"><b> TOTAL A PAGAR:</b></p>
            </div>
            <div class="box1P1-5-2">
                <p class="p-P1-5">R$<input type="text" name="total" id="total" value="" /></p>
                

            </div>
        </div>
        <div class="caixa-btn-passo1-cont">
            <a href="/carrinhoPasso2"><button type="submit" class="btn-passo1-cont">CONTINUAR</button></a>
        </div>
        
    </div> -->
    
</section><br><br>
