<%- include('header'); %>

<section class="carrinhoPasso1-section">
    <div class="container-Passo1">
         <div class="box1P1"> <!--Passo 1 - Coluna Esquerda "Borda" -->
            <div class="box2P1"><!--Passo 1 - Coluna Esquerda "Endereço de Entrega" -->
                <h1 class="h1-1">MEU CARRINHO</h1>
            </div>
             
            
            <div class="box3P1-y"><!--Passo 1 - Coluna Esquerda "Caixa Branca" -->
                <nav class="product1">
                    <div>
                        <div>
                            <h2 class="lista-p1">SEUS DADOS PARA ENTREGA</h2>
                        </div>
                        <ul class="lista-p2"><!--Passo 1 - Coluna Esquerda "Dados do Cliente" -->
                            <li><b>Nome:</b><i> <%= orderClient.first_name %>.</i></li>
                            <li><b>Sobrenome:</b><i> <%= orderClient.last_name %>.</i></li>
                            <li><b>Endereço:</b><i> <%= orderClient.adress %>.</i></li>
                            <li><b>CPF:</b><i> <%= orderClient.CPF %></i></li>
                            <li><b>Telefone:</b><i> <%= orderClient.phone %></i></li>
                        </ul>
                    </div>
                </nav>
            </div>
            
            
                <div class="box3P1-z">
                    <a href="/carrinhoPasso1/"><button type="submit" class="button-continuarcomprandoP1">VOLTAR</button></a>
                    <a href="/carrinhoPasso3/"><button type="submit" class="button-continuarcomprandoP2">CONTINUAR</button></a>
                </div>
            
            <!-- <button type="submit" class="button-adicionarP1">+Adicionar um novo endereço</button> -->
            
        </div>
        
    </div>
    <!-- <div class="box1P1-1">
            
        <div class="box1P1-5">
            <div class="box1P1-5-1">
                <p class="h1-P1-5"><b> TOTAL A PAGAR:</b></p>
            </div>
            <div class="box1P1-5-2">
                <p class="p-P1-5">R$<input type="text" name="total" id="total" value="" /></p>
                

            </div>
        </div>
        <div class="caixa-btn-passo1-cont">
            <a href="/carrinhoPasso2"><button type="submit" class="btn-passo1-cont">CONTINUAR</button></a>
        </div>
        
    </div> -->
    
</section><br><br>