<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=book.title%> | Livraria Martin</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header'); %>
  <!--  include('descricao-prod'); -->
  <main>
    <!-- LINE 1 - HISTORICO DE NAVEGAÇÃO-->
    

    <!-- LINE 2 - DESCRICAO PRODUTO-->
    <div class="description">
        <!-- <div class="photo-left">
            <img class="left" src="/images/sem-foto.jpeg" alt="" srcset="">
            <img class="left" src="/images/sem-foto.jpeg" alt="" srcset="">
            <img class="left" src="/images/sem-foto.jpeg" alt="" srcset="">
            <img class="left" src="/images/sem-foto.jpeg" alt="" srcset="">
        </div> -->
        <div class="photo-principal">
            <img src="<%=book.url_image%>" height="350vw" alt="">
        </div>
        <div class="description-book">
            <div class="author">
                <h4><%= book.authors %></h4>
            </div>
            <div class="produt-name">
                <h2><%= book.title %></h2>
            </div>
            <!-- <div class="like">
            <a title="Adicionar a lista de desejo">8888888</a> ADICIONAR DIV PARA CORAÇÃO DE LIKE
        </div>   -->
            <div class="price-1">
                <span class="price-old">De: R$<%= book.price.replace('.', ',') %></span>
                <span class="price-new">Por: R$<%= (0.9* book.price).toFixed(2).replace('.', ',') %></span>
                <br>
            </div>
            <div class="flag-desct">
                <span>- R$<%= (0.1* book.price).toFixed(2).replace('.', ',') %></span>
            </div>

            <div class="button-buy">
                <button class="buy">COMPRAR</button>
            </div>
            <div class="button-buy">
                <button class="buy">COMPRAR</button>
                <button class="add-carrinho">ADICIONAR AO CARRINHO</button>
            </div>
            <div class="compartilhar">
                <spam class="title-compartilhar">Compartilhar</spam>
                <a class="facebook" target="_blank" href="">_</a>

                <a class="twitter" target="_blank" href="">_</a>


                <a class="instagram" target="_blank" href="">_</a>


                <a class="gplus" target="_blank" href="">_</a>

            </div>
        </div>

    </div>
    <!-- LINE 3 - DESCRICAO PRODUTO - 2-->
    <div class="details">
        <div class="details-description">
            <div class="item-details">
                <label><b>Qtde Páginas</b></label>
                <span><%= book.pages %></span>
            </div>
            <div class="item-details">
                <label><b>Idioma</b></label>
                <span>Português</span>
            </div>
            <div class="item-details">
                <label><b>ISBN</b></label>
                <span><%= book.ISBN %></span>
            </div>
            <div class="item-details">
                <label><b>Categoria</b></label>
                <span><%= book.category %></span>
            </div>
            <div class="item-details">
                <label><b>Editora</b></label>
                <span><%= book.editora %></span>
            </div>
        </div>
        <div class="sinopse">
            <h4>
                "Sinopse"
                <span>HTML</span>
            </h4>
            <div class="resumo">
                <p>
                    <%= book.sinopse %>

                </p>
                <p><br><br>
                    <strong> Sobre o autor</strong>
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, ipsum error nobis in accusamus
                    voluptatibus hic officiis corporis explicabo doloremque necessitatibus inventore minus
                    aperiam laudantium, alias labore odio nihil fugit.
                </p>
                <br>
                <br>
                <br>
                <b>Ficha Técnica</b>
                <br>
                ISBN: <i><%= book.ISBN %></i>
                <br>
                Editora: <i><%= book.editora %></i>
                <br>
                Categoria: <i><%= book.category %></i>
                <br>
                Páginas: <i><%= book.pages %></i>
                <br>
                Idioma: <i>Português</i>
                <br>
                Dimensões: <i>16 x 23cm</i>
                <br>
            </div>
        </div>   
</main>
  <%- include('sugestao-livro'); %>
  <%- include('footer'); %>
</body>
</html>