<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
  <%- include('header'); %>
  <%- include('categorias-princial'); %>
  <%- include('banner-central'); %>
  <!-- colocar os produtos em código que ele chame conforme o cliente abre a página -->
  <%- include('cateudo-home'); %>
  <%- include('footer'); %>
  </body>
</html>
