<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <script src="/javascripts/carrinho.js"></script> -->
  </head>
  <body>
  <%- include('header'); %>
  <%- include('box-aceita-privacidade'); %>
  <%- include('categorias-princial'); %>
  <%- include('banner-central'); %>
  
  <!-- colocar os produtos em código que ele chame conforme o cliente abre a página -->
  
  <%- include('cateudo-home'); %>
  <%- include('autores-destaque'); %>
  <%- include('footer'); %>

  
  </body>
</html>
