<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    
    <main>
            <header>
                <!-- HEADER BTN HELP -->
                <nav class="navegacao-central">
                    <div class="header-help">
                        <div class="phone"><span class="header-phone">(19) 97409-7383</span>
                            <div class="btn-help">AJUDA
                                <!-- <a href="site.com.br">AJUDA</a> -->
                            </div>
                        </div>
                    </div>
                    <!-- HEADER MENU-->
                    <div class="menu-search">
                        <!-- LOGO-->
                        <div id="logo">
                            <span class="logo-img">
                                <a href="http://localhost:3000/"  alt="logo_livraria_do_martin" title="Livraria_do_Martin" ><img src="/images/logosimples.png" width="120" height="65"></a>
                                
                            </span>
                        </div>
                        <!-- BTN BUSCA-->
                        <div id="search">
                            <input type="text" id="search-header" name="search" class="btn-busca"
                                placeholder="BUSCAR PRODUTO..." autocomplete="off" />
                                <!-- IMG DE BUSCA-->
                                <!-- <div id="img-search">
                                    <img src="" alt="img-search" srcset="">
                                </div> -->
                        </div>
                        <!-- LOGIN-->
                        <div id="login">
                            <div class="icon-user">
                                <a href="http://localhost:3000/register"><img src="/images/user.png" alt="" sizes="" srcset="" width="30" height="30"></a>
                            </div>
                        </div>
                        <!-- <div id="login-1">
                            <div id="login-text-1">
                                <span>LOGIN</span>
                            </div>
                            <div id="login-text-2">
                                <a href="/cadastrese" style="text-decoration:none" ><span> CRIAR CONTA</span></a>
                            </div>
                        </div> -->
                        <div id="login-2">
                            <div class="icon-sacola">
                                <a href="http://localhost:3000/carrinhoPasso1"><img src="/images/sacola.png" alt="" sizes="" srcset="" width="30" height="30"></a>
                            </div>
                        </div>
                        
                    </div>
                </nav>
                <nav id="geral">
                        <!-- MENU CENTRAL-->

                    <div class="dropdown">
                        <button class='mainmenubtn'><b>≡ Menu Principal</b></button>
                        <div class="dropdown-child">
                          <a href="http://wwww.seudominio.com/pagina1.html">Sub Menu 1</a>
                          <a href="http://wwww.seudominio.com/pagina2.html">Sub Menu 2</a>
                          <a href="http://wwww.seudominio.com/pagina3.html">Sub Menu 3</a>
                          <a href="http://wwww.seudominio.com/pagina4.html">Sub Menu 4</a>
                          <a href="http://wwww.seudominio.com/pagina5.html">Sub Menu 5</a>
                        </div>
                    </div>
                    <div class="menu-central">
                        <div id="menu-central-text">
                            <span class="destaque-menu-central">Destaque</span>
                            <span class="destaque-menu-central">Mais Vendidos</span>
                            <span class="destaque-menu-central">Autores</span>
                            <span class="destaque-menu-central">Editoras</span>
                            <span class="destaque-menu-central">Novidades</span>
                        </div>
                    </div>
                </nav>
            </header>
    </main>
   
    <section>
        <div class="box-cadastro1">
            <div class="cadastro">
                <form action="/user/index/<%= client.id %>" method="get" class="formulario" id="formulario"> <!-- * Adicionado: action + method -->
                    <h1 class="header1">Olá <%= client.first_name %>!</h1>
                    <br>
                    <p class="header1">Seja bem vindo! Esta é a página do seu perfil</p></h4><br><br>
                    <div class="header">              
                        <label class="titulo-form-cadastro">SEUS DADOS PESSOAIS: </label><br><br>
                    </div> 

                        <div class="form-control">
                            <label for="nome" class="input-text-cadastro1"><b>Nome: </b></label>
                            <label for="nome" class="input-text-cadastro1"><i><%= client.first_name %>.</i></label>
                            <br>
                        </div>

                        <div class="form-control">
                            <label for="sobrenome" class="input-text-cadastro1"><b>Sobrenome: </b></label>
                            <label for="sobrenome" class="input-text-cadastro1"><i><%= client.last_name %>.</i></label>
                            <br>
                        </div>
                            
                        <div class="form-control">
                            <label for="endereco" class="input-text-cadastro1"><b>Endereço: </b></label>
                            <label for="endereco" class="input-text-cadastro1"><i><%= client.adress %>.</i></label>
                            <br>
                        </div>

                        <div class="form-control">
                            <label for="cpf" class="input-text-cadastro1"><b>CPF: </b></label>
                            <label for="cpf" class="input-text-cadastro1"><i><%= client.CPF %>.</i></label>
                            <br>
                        </div>

                        <div class="form-control">
                            <label for="cpf" class="input-text-cadastro1"><b>Telefone: </b></label>
                            <label for="cpf" class="input-text-cadastro1"><i><%= client.phone %>.</i></label>
                            <br>
                        </div>

                        <div class="form-control">
                            <label for="email" class="input-text-cadastro1"><b>Email: </b></label><br>
                            <label for="email" class="input-text-cadastro1"><i><%=client.email_login %></i></label>
                            <br>
                        </div>
                    
                        <button type="submit" value= "enviar"class="btn-cadastre-se-cadastro">Editar</button>
                        <a href="/user/delete/<%= client.id %>"><button type="submit" value= "enviar"class="btn-cadastre-se-cadastro">Excluir</button></a>
                </form>
            </div>
        </div>
        <script src="formulario.js"></script>
    </section>
</body>
